body{
    margin: 0;
	background-image: linear-gradient(135deg, rgba(15,171,108,1), rgba(116,195,12,0.7));
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
}

.base {
    background-color: rgba(46,49,57,1);
    height: 85vh;
    width: 25vw;
}

h1{
    color: rgba(255,255,255,1);
    text-align: center;
    font-size: 27px;
    line-height: 60px;
}
h2{
    color: rgba(255,255,255,1);
    text-align: center;
    font-size: 15px;
}

h3{
    text-align: center;
	position: relative;
	top: 100px;
}
.interr{
    position: absolute;
    left: 1200px;
    top: 50px;
}
.interrev{
    position: absolute;
    right: 1200px;
    top: 50px;
}
#myConnect {
    display: block;
    margin: 0 auto;
  }
h4 {
    color: rgba(255,255,255,1);
	text-align: center;
	position: relative;
	top: 400px;
}