body{
	background-image: linear-gradient(135deg, rgba(15,171,108,1), rgba(116,195,12,0.7));
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
}

.base {
    background-color: rgba(46,49,57,1);
    height: 60vh;
    width: 25vw;
}

h1{
    background-color: rgba(0,0,0,0);
    color: rgba(255,255,255,1);
    text-indent: 50px;
    
}

h2{
	position: relative;
	left: 50px;
	top: 5px;
}